*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: orange; 
}

.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
    text-align: center;

}

span{
    display: block;
    text-align: center;
    font-size: 100px;
}

p{
    font-size: 16px;
    font-weight: semi-bold;
    text-align: center;
    color: white;
    word-wrap: break-word;
    line-height: 30px;
    margin: 30px 0;

}

h1{
    color: white;
    font-size: 30px;
    text-align: center;
}

button{
    padding: 15px 30px;
    font-size: 20px;
    width: 250px;
    border-radius: 8px;
    background-color: orange;
    color: white;
    font-weight: bold;
    align-items:center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #996d00;
}